<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="{{challenge.name}} Challenge">
  <ion-content class="padding">
  <div id="top">

    <ion-content ng-controller="MapCtrl" ng-init="initialize()">
          <div id="map" class="fullmap row" data-tap-disabled="true"></div>
    </ion-content>
    </div>
    <div id="mapbot">
    <div class="row fullmap-buttons center "style="margin-left: auto;margin-right: auto;">
      <a class="item text-center" ui-sref='tab.challenge-won'>
        <button class="button continueButton text-center" style="color: #fff; text-transform: uppercase;">
        I won!!
        </button>
      </a>
      <a class="item text-center" ui-sref='tab.challenges'>
        <button class="button continueButton text-center" style="color: #fff; text-transform: uppercase;">
        New challenge
        </button>
      </a>
      </div>
  </div>
  </ion-content>
</ion-view>
