<ion-view view-title="You won">
  <ion-content class="padding">
<!--     <div class="bar bar-header bar-royal">
      <h1 class="title">Welcome to challenge app</h1>
    </div> -->
    <div class="row">
              <div id="appstartText" class=" col text-center">
              <h3 style="color: #fff;"> Congratulations! <p>You won</p></h3>
              <p>Ask the bartender for the QR code and scan it. </p>
              <h2>1 Free drink</h2>
               	<a ui-sref='tab.challengetypes'> 
                  <button class="button continueButton button-assertive">
				            Next challenge
				          </button>
                </a>
            </div>
    </div>
    

  </ion-content>
</ion-view>
