<ion-view view-title="Starting app">
  <ion-content class="padding">
<!--     <div class="bar bar-header bar-royal">
      <h1 class="title">Welcome to challenge app</h1>
    </div> -->
    <div class="row">
              <div id="appstartText" class=" col text-center">
              <h4> You are challenged by Antwerp! Start right now and recieve you rewards.</h4>
               	<a ui-sref='tab.registration'> <button class="button button-assertive">
				  Continue
				</button></a>
            </div>
    </div>
    

  </ion-content>
</ion-view>
