<ion-view view-title="Challenges">
  <ion-content>
    
      <div id="challenge-row" class="" ng-repeat="challenge in challenges" style='background-color: #ff8100; text-decoration:none'>
      <a style="text-decoration: none;" href="#/tab/challenges/{{challenge.id}}">
        <h2 style="color:white;">{{challenge.name}}</h2>
        <p style="color:black; font-weight: bold">{{challenge.description}}</p>
        <p style="color:white; font-weight: bold; font-size: 1.2em;float:right; margin-top: -40px; margin-right: 10px;">{{challenge.rewardDescription}}</p>
      </a>
      </div>
   
  </ion-content>
</ion-view>
