<ion-view view-title="Challenge category1">
  <ion-content class="padding">
    <div class="row">
      <div ng-controller="CategoryCtrl" class= "text-center" style="width: 100%">

      <div id="challengelist">
        <div ng-repeat="challenge in challenges" class="text-center" style="background-color: #ff8100">
          <p> {{challenge.name}} </p>
          <p> {{challenge.description}} </p>
          <p> {{challenge.rewardDescription}} </p>
          <p> {{challenge.reward}} </p>
          
        </div>
        </div>
      </div>  
    </div>
    </div>
  </ion-content>
</ion-view>
