<ion-view view-title="Challenges">
  <ion-content class="padding">
<!--     <div class="bar bar-header bar-royal">
      <h1 class="title">Welcome to challenge app</h1>
    </div> -->
    <div class="row">
        <div id="appchallengesText" class=" list center" style='width: 450px; background-color:  rgb(180,30,25);' >
          <a ui-sref='category?1'><button class= "button button-assertive" id="categoryButtons"><uppercase>Drinking</uppercase></button></a>
          <a ui-sref='category?2'><button class= "button button-assertive" id="categoryButtons"><uppercase>Eating</uppercase></button></a>
          <a ui-sref='category?3'><button class= "button button-assertive" id="categoryButtons"><uppercase>Cultural</uppercase></button></a>
          <a ui-sref='category?4'><button class= "button button-assertive"id="categoryButtons"><uppercase>Shopping</uppercase></button></a>
          <a ui-sref='category?5'><button class= "button button-assertive" id="categoryButtons"><uppercase>Random</uppercase></button></a>
        </div>
    </div>
  </ion-content>
</ion-view>
