<ion-view view-title="Challenges">
  <ion-content class="padding">
<!--     <div class="bar bar-header bar-royal">
      <h1 class="title">Welcome to challenge app</h1>
    </div> -->
    <div class="row">
        <div id="appchallengesText" class=" list center" style='width: 450px; background-color:  rgb(180,30,25);' >
          <a ui-sref='category?1'><button class= "button button-assertive" id="drinkingButton"><div class="buttontext">Drinking</div><img class="buttonicon" src="../img/beer.png" alt="beer.png" title="beer.png"></button></a>
          <a ui-sref='category?2'><button class= "button button-assertive" id="eatingButton"><div class="buttontext">Eating</div><img class="buttonicon" src="../img/knifeandfork.png" alt="knifeandfork.png" title="knifeandfork.png"></button></a>
          <a ui-sref='category?3'><button class= "button button-assertive" id="culturalButton"><div class="buttontext">Cultural</div><img class="buttonicon" src="../img/castle.png" alt="castle.png" title="castle.png"></button></a>
          <a ui-sref='category?4'><button class= "button button-assertive"id="shoppingButton"><div class="buttontext">Shopping</div><img class="buttonicon" src="../img/shoppingbags.png" alt="shoppingbags.png" title="shoppingbags.png"></button></a>
          <a ui-sref='category?5'><button class= "button button-assertive" id="randomButton"><div class="buttontext">Random</div><img class="buttonicon" src="../img/arrows.png" alt="arrows.png" title="arrows.png"></button></a>
        </div>
    </div>
  </ion-content>
</ion-view>
