<ion-tabs style=""class="tabs-icon-top tabs-color-active-positive">

  <ion-tab class=" hidden "title="App start" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/appstart">
    <ion-nav-view name="tab-appstart"></ion-nav-view>
  </ion-tab>

  <ion-tab class=" hidden "title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

 <ion-tab class=" hidden "title="Registration" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/registration">
    <ion-nav-view name="tab-registration"></ion-nav-view>
  </ion-tab>

 <ion-tab class=" hidden "title="Challenges" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/challengetypes">
    <ion-nav-view name="tab-challengetypes"></ion-nav-view>
  </ion-tab>


  <ion-tab class=" hidden "title="Challenges" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/challenges">
    <ion-nav-view name="tab-challenges"></ion-nav-view>
  </ion-tab>

    <ion-tab class=" hidden "title="Under Construction" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/underconstruction">
    <ion-nav-view name="tab-underconstruction"></ion-nav-view>
  </ion-tab>

    <ion-tab class=" hidden "title="Achievements" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/achievements">
    <ion-nav-view name="tab-achievements"></ion-nav-view>
  </ion-tab>
      <ion-tab class=" hidden "title="Splashscreen" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/splashscreen">
    <ion-nav-view name="tab-splashscreen"></ion-nav-view>
  </ion-tab>
</ion-tabs>
