/* Empty. Add your own CSS if you like */
.background, .background .pane, .background .item, .background .item-complex .item-content  {
    background-color: rgb(180,30,25) ;

}
.tabs-positive > .tabs{
background-color: rgb(180,30,25) !important;
}
.tabs{
	background-color: rgb(180,30,25) !important;
	display: none;
}
.icon, .tab-title{
	
	color: #fff;
}
#appstartText{
	margin-top: 80px;
}
#appregistrationText{
	margin-top:80px;
	background-color: #fff;	
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.item{
	margin: 0px;
	border-style: none;
}
.item-radio input:checked + .radio-content .radio-icon{
	color: rgb(180,30,25);
}
.continueButton{
	background-color: #ff8100;
	text-align: center;
}
#categoryButtons{
	 background-color: #ff8100;
	 width: 450px;
	 text-transform: uppercase;
}