/* Empty. Add your own CSS if you like */

.tabs-positive > .tabs{
background-color: rgb(180,30,25) !important;
}
.tabs{
	background-color: rgb(180,30,25) !important;
	/*display: none;*/
}
.icon, .tab-title{
	
	color: #fff;
}
#appstartText{
	margin-top: 80px;
}
#appregistrationText{
	margin-top:80px;
	background-color: #fff;	
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.item{
	margin: 0px;
	border-style: none;
}
.item-radio input:checked + .radio-content .radio-icon{
	color: rgb(180,30,25);
}
.continueButton{
	background-color: #ff8100;
	text-align: center;
}
#drinkingButton{
    background-color: #ff8100;
    text-transform: uppercase;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}
#eatingButton{
    background-color: #ff8100;
    text-transform: uppercase;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 2px;
}
#shoppingButton{
    background-color: #ff8100;
    text-transform: uppercase;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}
#randomButton{
    background-color: #ff8100;
    text-transform: uppercase;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}
#culturalButton{
    background-color: #ff8100;
    text-transform: uppercase;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}
.buttonicon{
    height: 30px;
    float: right;
    margin-bottom: auto;
    margin-top: 5px;
}
.buttontext{
    width: 85%;
    float: left;
    padding-left: 55px;
}
#challenge-row {
    background-color: #ff8100;
}

.background, .background .pane, .background .item, .background .item-complex .item-content  {
    background-color: rgb(180,30,25) ;

}
#map {  
  margin-top: 80%;
  width: 100%;
  height: 40%;
}

#map.fullmap{  
  margin-top: 0%;
  width: 100%;
  height: 70%;
}
.scroll {
  height: 100%;
} 
.fullmap-buttons{
    padding-top:130%;
}

.centerimages{
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.hidden{
    display: none;
}
.tabs-striped .tabs{
    border-bottom: none;
}